.film-details-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.film-details {
    position: relative;
    width: 40vw;
    height: 60vh;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8f9fa;

}

.film-details h1 {
    text-align: center;
}

.film-details button {
    margin-top: 20px 0 0 10px;
}