.film-cart {
    width: 25%;
    height: 100%;
    border: 1px black solid;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.film-cart span {
   color: rgb(93, 12, 100);
   font-size: large;;
}
.film-cart img {
    width: 100%;
}