.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pagination {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px black solid;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.pagination li {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}