input {
    padding: 10px;
    margin: 10px;
}

button {
    cursor: pointer;
    border: none;
    padding: 12px;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pagination {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px black solid;
    position: fixed;
    bottom: 5px;
    left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.pagination li {
    padding: 10px;
    cursor: pointer;
    padding-bottom: 25px;
}